@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');

@font-face {
  font-family: BugFast;
  src: url(https://web.zuma206.repl.co/fonts/Bugfast.otf);
}

#splash {
	position: fixed;
	animation: splash-ani 1.5s ease infinite;
}

.custom-gradient {
    background: linear-gradient(270deg, #c100ff, #ff0000, #6800ff);
    background-size: 600% 600%;
    -webkit-animation: RGB-Go-Brrrrrrrrrrr 12s ease infinite;
    -moz-animation: RGB-Go-Brrrrrrrrrrr 12s ease infinite;
    -o-animation: RGB-Go-Brrrrrrrrrrr 12s ease infinite;
    animation: RGB-Go-Brrrrrrrrrrr 12s ease infinite;
}

.custom-gradient h1 {
	font-family: BugFast;
}

@keyframes splash-ani {
	0% {transform: scale(1)}
	50% {transform: scale(0.9)}
	100% {transform: scale(1)}
}

@-webkit-keyframes RGB-Go-Brrrrrrrrrrr {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes RGB-Go-Brrrrrrrrrrr {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes RGB-Go-Brrrrrrrrrrr {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes RGB-Go-Brrrrrrrrrrr {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.glow {
	text-transform: none;
	font-family: 'Fugaz One', cursive;
  color: #fff;
  -webkit-animation: glow 3s ease-in-out infinite alternate;
  -moz-animation: glow 3s ease-in-out infinite alternate;
  animation: glow 3s ease-in-out infinite alternate;
}

.glow-lite {
	text-transform: none;
	font-family: 'Fugaz One', cursive;
  color: #fff;
  -webkit-animation: glow 3s ease-in-out infinite alternate;
  -moz-animation: glow 3s ease-in-out infinite alternate;
  animation: glow 3s ease-in-out infinite alternate;
}

.btn {
	cursor: pointer;
}

@media only screen and (hover: none) and (pointer: coarse){
	.glow {
		-webkit-animation: none;
		-moz-animation: none;
		animation: none;
		text-shadow: 0 0 30px #8600ff;
	}
	.custom-gradient {
		-webkit-animation: none;
    -moz-animation: none;
    -o-animation: none;
    animation: none;
		background-size: auto;
	}
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #8600ff, 0 0 40px #8600ff, 0 0 50px #8600ff, 0 0 60px #8600ff, 0 0 70px #8600ff;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ae57ff, 0 0 40px #ae57ff, 0 0 50px #ae57ff, 0 0 60px #ae57ff, 0 0 70px #ae57ff, 0 0 80px #ae57ff;
  }
}

@keyframes glow-lite {
  from {
    text-shadow: 0 0 10px #000, 0 0 20px #000, 0 0 30px #8600ff, 0 0 40px #8600ff, 0 0 50px #8600ff, 0 0 60px #8600ff, 0 0 70px #8600ff;
  }
  to {
    text-shadow: 0 0 20px #000, 0 0 30px #ae57ff, 0 0 40px #ae57ff, 0 0 50px #ae57ff, 0 0 60px #ae57ff, 0 0 70px #ae57ff, 0 0 80px #ae57ff;
  }
}